<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Congratulations on Successful Registration</title>
        <style>
            body { font-family: Arial, sans-serif; margin: 0; padding: 0; background-color: #f4f4f4; } .container { max-width: 600px; margin: 20px auto; background-color: #ffffff; padding: 20px; border-radius: 8px; box-shadow: 0 0 10px
            rgba(0, 0, 0, 0.1); } h2 { color: #333333; } p { color: #555555; line-height: 1.6; } .cta-button { display: inline-block; margin-top: 20px; padding: 10px 20px; background-color: #3498db; color: #ffffff; text-decoration: none;
            border-radius: 4px; } .signature { margin-top: 20px; color: #777777; }
        </style>
    </head>
    <body>
        <div class="container">
            <h2>Congratulations on Successful Registration!</h2>
            <p>Dear {{firstName}} {{lastName}},</p>
            <p>Welcome to Turningpoint! We are thrilled to have you on board.</p>
            <p>Now that you are a part of our community, you can enjoy the full benefits of our app and even earn rewards. Dive in and explore the exciting features that await you.</p>
            <p>Don't hesitate to reach out if you have any questions or need assistance. We're here to help!</p>
            <a href="wwww.playstore.com" class="cta-button">Start Exploring Now</a>
            <div class="signature">
                Best regards,<br />
                Turningpoint
            </div>
        </div>
    </body>
</html>